<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<body>
    <div class="container2">
        <h1>Update Student</h1>
        {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
        {% endif %}
        <form action="{% url 'update_student' student.id %}" method="post">
            {% csrf_token %}
            <label for="">Name:</label><br><br>
            <input type="text" name="name" value="{{ student.name }}" required><br><br>
            <label for="">Branch:</label><br><br>
            <select name="branch" id="branch" required>
                <option value="CS" {% if student.branch == 'CS' %}selected{% endif %}>Computer Science</option>
                <option value="EC" {% if student.branch == 'EC' %}selected{% endif %}>Electronics and Communication</option>
                <option value="ME" {% if student.branch == 'ME' %}selected{% endif %}>Mechanical Engineering</option>
                <option value="CE" {% if student.branch == 'CE' %}selected{% endif %}>Civil Engineering</option>
            </select><br><br>
            <label for="">Register Number:</label><br><br>
            <input type="text" name="register_num" value="{{ student.register_num }}" maxlength="10" required><br><br>
            <button type="submit" id="new1">Update</button>
        </form>

    </div>
</body>

</html>